section.components
  .components-wrapper
    .heading-text
      h3.heading-feature Lorem ipsum dolor sit amet consectetur!
      .sub-heading-feature Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. aliquip ex ea commodo consequat.
    .container.components-images
      .row
        .col-sm-3
          img.card-img-top(src="./img/det1.png" alt="Component")
        .col-sm-3
          img.card-img-top(src="./img/det2.png" alt="Component")
        .col-sm-3
          img.card-img-top(src="./img/det3.png" alt="Component")
        .col-sm-3
          img.card-img-top(src="./img/det4.png" alt="Component")
    .container.components-name
      .row
        .col-sm-3
          p Lorem ipsum dolor sit
        .col-sm-3
          p Lorem ipsum dolor sit
        .col-sm-3
          p Lorem ipsum dolor sit
        .col-sm-3
          p Lorem ipsum dolor sit