section.components
  .components-wrapper
    .heading-text
      h3.heading-feature.heading-components Lorem ipsum dolor sit amet consectetur!
      .sub-heading-feature.sub-heading-feature Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. aliquip ex ea commodo consequat. 
  .container
    .row
      .card-group
        .col-sm-3
          .card.border-0.card-components
            img.components-image.card-img-top(src="./img/details-one-size/det1.png" alt="Component")
          .card-body.d-flex.flex-column.align-items-center
            h5.card-title.components-name Lorem ipsum dolor sit
            .card-text.components-price $ 135
            a.btn.btn-primary.mt-3.text-uppercase.about-button.rounded-0.components-button__item(href="#") Buy now
        .col-sm-3
          .card.border-0.card-components
            img.components-image.card-img-top(src="./img/details-one-size/det2.png" alt="Component")
          .card-body.d-flex.flex-column.align-items-center
            h5.card-title.components-name Lorem ipsum dolor sit
            .card-text.components-price $ 135
            a.btn.btn-primary.mt-3.text-uppercase.about-button.rounded-0.components-button__item(href="#") Buy now
        .col-sm-3
          .card.border-0.card-components
            img.components-image.card-img-top(src="./img/details-one-size/det3.png" alt="Component")
          .card-body.d-flex.flex-column.align-items-center
            h5.card-title.components-name Lorem ipsum dolor sit
            .card-text.components-price $ 135
            a.btn.btn-primary.mt-3.text-uppercase.about-button.rounded-0.components-button__item(href="#") Buy now
        .col-sm-3
          .card.border-0.card-components
            img.components-image.card-img-top(src="./img/details-one-size/det4.png" alt="Component")
          .card-body.d-flex.flex-column.align-items-center
            h5.card-title.components-name Lorem ipsum dolor sit
            .card-text.components-price $ 135
            a.btn.btn-primary.mt-3.text-uppercase.about-button.rounded-0.components-button__item(href="#") Buy now
  //- .container.components-bike
  //-   .row
  //-     .col-sm-3
  //-       img.components-image(src="./img/det1.png" alt="Component")
  //-     .col-sm-3
  //-       img.components-image(src="./img/det2.png" alt="Component")
  //-     .col-sm-3
  //-       img.components-image(src="./img/det3.png" alt="Component")
  //-     .col-sm-3
  //-       img.components-image(src="./img/det4.png" alt="Component")
  //-     .col-sm-3.components-text
  //-       h5.components-name Lorem ipsum dolor sit
  //-       p.components-price $ 135
  //-     .col-sm-3.components-text
  //-       h5.components-name Lorem ipsum dolor sit
  //-       p.components-price $ 135
  //-     .col-sm-3.components-text
  //-       h5.components-name Lorem ipsum dolor sit
  //-       p.components-price $ 135
  //-     .col-sm-3.components-text
  //-       h5.components-name Lorem ipsum dolor sit
  //-       p.components-price $ 135
  //-     .col-sm-3.components-button
  //-       a.btn.btn-primary.text-uppercase.about-button.rounded-0.components-button__item(href="#") Buy now
  //-     .col-sm-3.components-button
  //-       a.btn.btn-primary.text-uppercase.about-button.rounded-0.components-button__item(href="#") Buy now
  //-     .col-sm-3.components-button
  //-       a.btn.btn-primary.text-uppercase.about-button.rounded-0.components-button__item(href="#") Buy now
  //-     .col-sm-3.components-button
  //-       a.btn.btn-primary.text-uppercase.about-button.rounded-0.components-button__item(href="#") Buy now
