footer.footer
  .footer-wrapper
    .container
      .row
        .col-md-12
          .footer-card
            h3.footer-heading.heading-feature Subscribe our newsletter
            .footer-description.sub-heading-feature Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation.
            .input-group.footer-button
              input.form-control.footer-button__input(type="text" placeholder="Your email adress...")
              .input-group-append
                button.btn.btn-outline-secondary.footer-button__item.w-100 Subscribe
        .col-12
          .footer-line
        .col-10 
          .footer-text Copyright © 2016. All rights reserved.
        .col-2
          .by.float-right by NSh
          
