footer.footer
  .footer-wrapper
    .container
      .row
        .col-sm-12
          .footer-card
            h3.footer-heading.heading-feature Subscribe ours newsletter
            .footer-description.sub-heading-feature Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation.
            .input-group.mb-3.footer-button
              input.form-control(type="text" placeholder="Your email adress...")
              .input-group-append
                button.btn.btn-outline-secondary Subscribe