main.main
  header.header
    a.logo.button-transform(href="#") Bikeshop
    .header-links-center
      a.header-links-center__link.button-transform(href="#") Bikes
      a.header-links-center__link.button-transform(href="#") Components
      a.header-links-center__link.button-transform(href="#") Accesories
    .header-links-right.button-transform
      a.header-links-right__link(href="#")
        img.shop-basket(src="./img/shop-box.png", alt="Shop Basket")
      a.header-links-right__link(href="#") Basket       
      span.header-links-right__link.shop-number(href="#") (0)
  .main-wrapper.container
    h2.main-heading Lorem ipsum dolor sit amet  consectetur adipisicing
    .main-sub-heading Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    a.main-button.button-transform(href="#")
        img.button-play(src="./img/play.png", alt="Button Play")