html
  head
    meta(charset="utf-8")
    title Bikeshop
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap")
    link(rel="stylesheet", href="./styles/style.css")
  body
    main.main
      header.header
        .logo Bikeshop
        .header-links-center
          a.header-links-center__link(href="#") Bikes
          a.header-links-center__link(href="#") Components
          a.header-links-center__link(href="#") Accesories
        .header-links-right
          a.header-links-right__link(href="#")
            img(src="", alt="Shop Box")
          a.header-links-right__link(href="#") Basket
          a.header-links-right__link.shop__item(href="#") (0)
      .main-wrapper
        h2.main-heading Lorem ipsum dolor sit amet  consectetur adipisicing
        .main-sub-heading Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d
        a.main-button
          img(src="", alt="Button Play")
        

