html
  head
    meta(charset="utf-8")
    title Bikeshop
    link(rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet", href="./styles/style.css")
  body
    main.main
      header.header
        a.logo(href="#") Bikeshop
        .header-links-center
          a.header-links-center__link(href="#") Bikes
          a.header-links-center__link(href="#") Components
          a.header-links-center__link(href="#") Accesories
        .header-links-right
          a.header-links-right__link(href="#")
            img.shop-basket(src="./img/shop-box.png", alt="Shop Basket")
          a.header-links-right__link(href="#") Basket       
          span.header-links-right__link.shop-number(href="#") (0)
      .main-wrapper.container
        h2.main-heading Lorem ipsum dolor sit amet  consectetur adipisicing
        .main-sub-heading Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        a.main-button
           img.button-play(src="./img/play.png", alt="Button Play")
    //- End of main
    include modules/about.pug
    include modules/feature.pug
    include modules/components.pug