html
  head
    meta(charset="utf-8")
    title Bikeshop
    link(rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="./styles/style.css")
  body
    include modules/main.pug
    include modules/about.pug
    include modules/feature.pug
    include modules/components.pug
    include modules/footer.pug
