* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

@font-face {
  font-family: "Milkshake";
  src: url(../fonts/Milkshake/Milkshake400.ttf);
}

@font-face {
  font-family: "OldStandartTT Regular";
  src: url(../fonts/OldStandartTT/OldStandardTT-Regular.ttf);
}

@font-face {
  font-family: "OldStandartTT Italic";
  src: url(../fonts/OldStandartTT/OldStandardTT-Italic.ttf);
}

@font-face {
  font-family: "OldStandartTT Bold";
  src: url(../fonts/OldStandartTT/OldStandardTT-Bold.ttf);
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu Light";
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
  font-family: "Ubuntu Italic";
  src: url(../fonts/Ubuntu/Ubuntu-Italic.ttf);
}

@font-face {
  font-family: "MyriadPro";
  src: url(../fonts/MyriadPro/MyriadPro-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'OldStandardTT Regular';
  font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
  color: #ffffff;
  text-decoration: none;
}

.main {
  background-image: url(../img/bg-main.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  height: 100vh;
}

@media (max-width: 769px) {
  .main {
    background-size: 150% 100%;
  }
}

@media (max-width: 567px) {
  .main {
    background-size: 200% 100%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-right: 180px;
  padding-left: 180px;
  padding-top: 25px;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .header {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 380px) {
  .header {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.logo {
  font-family: "Milkshake";
  font-size: 47px;
  line-height: 0.5;
}

.header-links-center__link,
.header-links-right__link {
  font-size: 18px;
  font-family: "Ubuntu Regular";
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 1;
}

.header-links-center__link {
  padding-right: 50px;
}

.header-links-center__link:last-child {
  padding-right: 0;
}

.header-links-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 769px) {
  .header-links-center {
    display: none;
  }
}

.header-links-right__link {
  padding-right: 10px;
}

.header-links-right__link:last-child {
  padding-right: 0;
}

.shop-number {
  color: #c2c1c1;
}

@media (max-width: 567px) {
  .link-hidden {
    display: none;
  }
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 188px;
}

.main-heading {
  font-size: 61px;
  font-family: "OldStandardTT Regular";
  line-height: 1;
  color: #ffffff;
  padding-right: 168px;
  padding-left: 168px;
  text-align: center;
  padding-bottom: 15px;
}

@media (max-width: 1200px) {
  .main-heading {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 769px) {
  .main-heading {
    font-size: 44px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 567px) {
  .main-heading {
    font-size: 32px;
  }
}

.main-sub-heading {
  color: #c2c1c1;
  font-size: 28px;
  font-family: "Ubuntu Regular";
  line-height: 1;
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 567px) {
  .main-sub-heading {
    font-size: 18px;
  }
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-about {
  padding-left: 150px;
  padding-right: 90px;
  padding-top: 100px;
  width: 50%;
}

@media (max-width: 1200px) {
  .left-about {
    padding-right: 20px;
    padding-top: 30px;
  }
}

@media (max-width: 769px) {
  .left-about {
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 50px;
  }
}

@media (max-width: 568px) {
  .left-about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.right-about {
  width: 50%;
}

@media (max-width: 568px) {
  .right-about {
    width: 100%;
    padding-top: 35px;
  }
}

.about-heading {
  font-size: 48px;
  font-family: "OldStandardTT Regular";
  color: #3C3C3C;
  line-height: 1;
  text-align: left;
  padding-bottom: 52px;
}

@media (max-width: 1200px) {
  .about-heading {
    padding-bottom: 1rem;
    font-size: 34px;
  }
}

.about-description {
  font-size: 18px;
  font-family: "Ubuntu Light";
  color: #6A6A6A;
  line-height: 1.556;
  text-align: left;
  padding-bottom: 88px;
}

@media (max-width: 1200px) {
  .about-description {
    padding-bottom: 2rem;
    font-size: 16px;
  }
}

.about-button {
  width: 165px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  background-color: #3C3C3C;
  color: #ffffff;
  outline: 0.5px solid #ffffff;
  outline-offset: -5px;
  -webkit-transition: .2s;
  transition: .2s;
}

.about-button:hover {
  background-color: #3C3C3C;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sub-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 769px) {
  .sub-about {
    padding-top: 40px;
  }
}

.about-image__sub-about {
  width: 53%;
}

.sub-about-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.gray-lines_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

@media (max-width: 568px) {
  .gray-lines_item {
    width: 25%;
  }
}

.gray-line {
  background-color: #c2c1c1;
  opacity: .5;
}

.gray-line-description__first {
  height: 2px;
  width: 143px;
}

.gray-line-description__second {
  width: 2px;
  height: 130px;
}

.sub-about-description__text {
  color: #6A6A6A;
  font-size: 18px;
  font-family: "MyriadPro";
  line-height: 1.556;
  text-align: left;
  padding-right: 75px;
}

@media (max-width: 769px) {
  .sub-about-description__text {
    padding-right: 25px;
    font-size: 14px;
  }
}

.feature {
  padding-top: 100px;
}

.feature-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-image {
  width: 60%;
  position: relative;
}

.main-image__item {
  width: 100%;
}

.feature-wrapper-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-wrapper-item:first-child {
  width: 20%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feature-wrapper-item:last-child {
  width: 20%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.heading-feature {
  font-size: 46px;
  font-family: "OldStandardTT Regular";
  color: #3C3C3C;
  line-height: 1;
  text-align: center;
  padding-bottom: 50px;
}

@media (max-width: 568px) {
  .heading-feature {
    font-size: 28px;
  }
}

.sub-heading-feature {
  font-size: 18px;
  font-family: "Ubuntu Regular";
  color: #6A6A6A;
  line-height: 1.5;
  text-align: center;
  padding-right: 180px;
  padding-left: 180px;
  padding-bottom: 50px;
}

@media (max-width: 568px) {
  .sub-heading-feature {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 14px;
  }
}

.size-buttons {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: #3C3C3C;
}

.size-zoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60px;
  height: 145px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #c2c1c1;
  border-top: 2px solid #c2c1c1;
  border-right: 2px solid #c2c1c1;
}

.size-buttons__item {
  margin-bottom: 15px;
  margin-left: 10px;
}

.size-buttons__item:last-child {
  margin-bottom: 0;
}

.feature-item__main {
  width: 100%;
}

.other-image__item {
  margin-bottom: 10px;
  width: 60%;
  -webkit-box-shadow: -2px 2px 50px 1px rgba(106, 106, 106, 0.7);
  box-shadow: -2px 2px 50px 1px rgba(106, 106, 106, 0.7);
}

.other-image__item:last-child {
  padding-bottom: 0;
}

.size-buttons__item:hover .active-path {
  fill: #ffffff;
}

.feature-wrapper-item__bike-zoom {
  position: absolute;
}

@media (max-width: 568px) {
  .feature-wrapper-item__bike-zoom {
    display: none;
  }
}

.zoom-image-button {
  position: absolute;
}

.pos1 {
  top: 364px;
  left: 166px;
}

@media (max-width: 1200px) {
  .pos1 {
    top: 255px;
    left: 110px;
  }
}

@media (max-width: 769px) {
  .pos1 {
    top: 182px;
    left: 83px;
  }
}

.pos2 {
  top: 150px;
  left: 350px;
}

@media (max-width: 1200px) {
  .pos2 {
    top: 275px;
    left: 255px;
  }
}

@media (max-width: 769px) {
  .pos2 {
    top: 196px;
    left: 183px;
  }
}

.pos3 {
  right: 305px;
  top: 100px;
}

@media (max-width: 1200px) {
  .pos3 {
    right: 360px;
    top: 100px;
  }
}

@media (max-width: 769px) {
  .pos3 {
    right: 270px;
    top: 72px;
  }
}

.pos4 {
  bottom: 175px;
  left: 365px;
}

@media (max-width: 1200px) {
  .pos4 {
    top: 70px;
    left: 385px;
  }
}

@media (max-width: 769px) {
  .pos4 {
    top: 38px;
    left: 354px;
  }
}

.pos5 {
  bottom: 100px;
  right: 45px;
}

@media (max-width: 1200px) {
  .pos5 {
    bottom: 60px;
    right: 35px;
  }
}

@media (max-width: 769px) {
  .pos5 {
    bottom: 45px;
    right: 20px;
  }
}

.pos6 {
  top: 100px;
  right: 185px;
}

@media (max-width: 1200px) {
  .pos6 {
    top: 65px;
    right: 130px;
  }
}

@media (max-width: 769px) {
  .pos6 {
    top: 40px;
    right: 173px;
  }
}

.components {
  padding-top: 150px;
}

.components-bike {
  padding-top: 50px;
  padding-bottom: 150px;
}

.components-button__item,
.components-button__item:hover,
.components-button__item:active,
.components-button__item:focus {
  background-color: #3C3C3C;
  border: 0;
}

.components-image {
  width: 100%;
}

.components-text {
  text-align: center;
}

.components-name {
  font-family: "OldStandardTT Regular";
}

.components-price {
  font-family: "Ubuntu Regular";
}

.components-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.footer-wrapper {
  background-image: url("../img/bg-footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  height: 100vh;
}

.footer-card {
  background-color: #ffffff;
  color: #ffffff;
  margin-top: 150px;
}

.footer-button {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 100px;
}

.footer-heading {
  padding-top: 60px;
}

.footer-button__input {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #c2c1c1;
}

.footer-button__input:hover, .footer-button__input:focus, .footer-button__input:active {
  background-color: #c2c1c1;
}

.footer-button__item {
  text-transform: uppercase;
  background-color: #3C3C3C;
  color: #ffffff;
  outline: 0.5px solid #ffffff;
  outline-offset: -5px;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-button__item:hover {
  background-color: #3C3C3C;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-line {
  width: 100%;
  height: 2px;
  background-color: #c2c1c1;
  opacity: .5;
  margin-top: 125px;
}

.footer-text,
.by {
  padding-top: 25px;
  color: #c2c1c1;
}

.button-transform {
  -webkit-transition: .3s;
  transition: .3s;
}

.button-transform:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */