* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

@font-face {
  font-family: "Milkshake";
  src: url(../fonts/Milkshake/Milkshake400.ttf);
}

@font-face {
  font-family: "OldStandartTT Regular";
  src: url(../fonts/OldStandartTT/OldStandardTT-Regular.ttf);
}

@font-face {
  font-family: "OldStandartTT Italic";
  src: url(../fonts/OldStandartTT/OldStandardTT-Italic.ttf);
}

@font-face {
  font-family: "OldStandartTT Bold";
  src: url(../fonts/OldStandartTT/OldStandardTT-Bold.ttf);
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu Light";
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
  font-family: "Ubuntu Italic";
  src: url(../fonts/Ubuntu/Ubuntu-Italic.ttf);
}

@font-face {
  font-family: "MyriadPro";
  src: url(../fonts/MyriadPro/MyriadPro-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'OldStandardTT Regular';
  font-weight: normal;
}


a,
a:hover,
a:focus,
a:active {
  color: #ffffff;
  text-decoration: none;
}

$fontUbunutuR: "Ubuntu Regular";
$fontUbunutuI: "Ubuntu Italic";
$fontUbunutuL: "Ubuntu Light";
$fontMilk: "Milkshake";
$fontOldR: "OldStandardTT Regular";
$fontOldB: "OldStandardTT Bold";
$fontMyriadR: "MyriadPro";

$colorWhite: #ffffff;
$colorGrey: #c2c1c1;
$colorGrayHeading: #3C3C3C;
$colorGrayDescrip: #6A6A6A;

@mixin button {
  text-transform: uppercase;
  background-color: $colorGrayHeading;
  color: $colorWhite;
  outline: .5px solid $colorWhite;
  outline-offset: -5px;
  transition: .2s;

  &:hover {
    background-color: $colorGrayHeading;
    transform: scale(1.1);
  }
}

.main {
  background-image: url(../img/bg-main.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  height: 100vh;

  @media (max-width: 769px) {
    background-size: 150% 100%;
  }

  @media (max-width: 567px) {
    background-size: 200% 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 180px;
  padding-left: 180px;
  padding-top: 25px;
  color: $colorWhite;

  @media (max-width: 1200px) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: 380px) {
    padding-right: 15px;
    padding-left: 15px;
  }

}

.logo {
  font-family: $fontMilk;
  font-size: 47px;
  line-height: 0.5;
}

.header-links-center__link,
.header-links-right__link {
  font-size: 18px;
  font-family: $fontUbunutuR;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 1;
}

.header-links-center__link {
  padding-right: 50px;

  &:last-child {
    padding-right: 0;
  }
}

.header-links-right {
  display: flex;
  align-items: center;
}


.header-links-center {
  @media (max-width: 769px) {
    display: none;
  }
}

.header-links-right__link {
  padding-right: 10px;

  &:last-child {
    padding-right: 0;
  }
}

.shop-number {
  color: #c2c1c1;
}

.link-hidden {
  @media (max-width: 567px) {
    display: none;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 188px;
}

.main-heading {
  font-size: 61px;
  font-family: $fontOldR;
  line-height: 1;
  color: $colorWhite;
  padding-right: 168px;
  padding-left: 168px;
  text-align: center;
  padding-bottom: 15px;


  @media (max-width: 1200px) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: 769px) {
    font-size: 44px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (max-width: 567px) {
    font-size: 32px;
  }
}

.main-sub-heading {
  color: $colorGrey;
  font-size: 28px;
  font-family: $fontUbunutuR;
  line-height: 1;
  text-align: center;
  padding-bottom: 30px;

  @media (max-width: 567px) {
    font-size: 18px;
  }
}

.about-wrapper {
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
}

.left-about {
  padding-left: 150px;
  padding-right: 90px;
  padding-top: 100px;
  width: 50%;

  @media (max-width: 1200px) {
    padding-right: 20px;
    padding-top: 30px;
  }

  @media (max-width: 769px) {
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 50px;
  }

  @media (max-width: 568px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.right-about {
  width: 50%;

  @media (max-width: 568px) {
    width: 100%;
    padding-top: 35px;
  }
}

.about-heading {
  font-size: 48px;
  font-family: $fontOldR;
  color: $colorGrayHeading;
  line-height: 1;
  text-align: left;
  padding-bottom: 52px;

  @media (max-width: 1200px) {
    padding-bottom: 1rem;
    font-size: 34px;
  }
}

.about-description {
  font-size: 18px;
  font-family: $fontUbunutuL;
  color: $colorGrayDescrip;
  line-height: 1.556;
  text-align: left;
  padding-bottom: 88px;

  @media (max-width: 1200px) {
    padding-bottom: 2rem;
    font-size: 16px;
  }
}

.about-button {
  width: 165px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include button;
}


.sub-about {
  display: flex;

  @media (max-width: 769px) {
    padding-top: 40px;
  }

  @media (max-width: 380px) {
    flex-wrap: wrap;
  }
}

.about-image__sub-about {
  width: 53%;

  @media (max-width: 380px) {
    width: 90%;
  }
}

.sub-about-description {
  display: flex;
  align-items: center;
  padding-bottom: 100px;

  @media (max-width: 568px) {
    padding-left: 25px;
    padding-bottom: 0px;
  }
}

.gray-lines_item {
  display: flex;
  align-items: center;
  transform: translateX(-20px);

  @media (max-width: 568px) {
    display: none;
  }
}

.gray-line {
  background-color: $colorGrey;
  opacity: .5;
}

.gray-line-description__first {
  height: 2px;
  width: 143px;
}

.gray-line-description__second {
  width: 2px;
  height: 130px;
}

.sub-about-description__text {
  color: $colorGrayDescrip;
  font-size: 18px;
  font-family: $fontMyriadR;
  line-height: 1.556;
  text-align: left;
  padding-right: 75px;

  @media (max-width: 769px) {
    padding-right: 25px;
    font-size: 14px;
  }
}

.feature {
  padding-top: 100px;
}

.feature-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-image {
  width: 60%;
  position: relative;
}

.main-image__item {
  width: 100%;
}

.feature-wrapper-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child {
    width: 20%;
    align-items: flex-start;
  }

  &:last-child {
    width: 20%;
    align-items: flex-end;
  }
}

.heading-feature {
  font-size: 46px;
  font-family: $fontOldR;
  color: $colorGrayHeading;
  line-height: 1;
  text-align: center;
  padding-bottom: 50px;

  @media (max-width: 769px) {
    font-size: 32px;
  }

  @media (max-width: 568px) {
    font-size: 28px;
  }
}


.sub-heading-feature {
  font-size: 18px;
  font-family: $fontUbunutuR;
  color: $colorGrayDescrip;
  line-height: 1.5;
  text-align: center;
  padding-right: 180px;
  padding-left: 180px;
  padding-bottom: 50px;

  @media (max-width: 769px) {
    font-size: 14px;
    padding-right: 25px;
    padding-left: 25px;
  }

}

.size-buttons {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: $colorGrayHeading;
}

.size-zoom {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 145px;
  justify-content: center;
  border-bottom: 2px solid $colorGrey;
  border-top: 2px solid $colorGrey;
  border-right: 2px solid $colorGrey;
}

.size-buttons__item {
  margin-bottom: 15px;
  margin-left: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature-item__main {
  width: 100%;
}

.other-image__item {
  margin-bottom: 10px;
  width: 60%;
  -webkit-box-shadow: -2px 2px 50px 1px rgba(106, 106, 106, 0.7);
  -moz-box-shadow: -2px 2px 50px 1px rgba(106, 106, 106, 0.7);
  box-shadow: -2px 2px 50px 1px rgba(106, 106, 106, 0.7);

  &:last-child {
    padding-bottom: 0;
  }
}

.size-buttons__item:hover .active-path {
  fill: #ffffff;
}

.feature-wrapper-item__bike-zoom {
  position: absolute;

  @media (max-width: 568px) {
    display: none;
  }
}

.zoom-image-button {
  position: absolute;
}

.pos1 {
  top: 364px;
  left: 166px;

  @media (max-width: 1200px) {
    top: 255px;
    left: 110px;
  }

  @media (max-width: 769px) {
    top: 182px;
    left: 83px;
  }
}

.pos2 {
  top: 150px;
  left: 350px;

  @media (max-width: 1200px) {
    top: 275px;
    left: 255px;
  }

  @media (max-width: 769px) {
    top: 196px;
    left: 183px;

  }
}

.pos3 {
  right: 305px;
  top: 100px;

  @media (max-width: 1200px) {
    right: 360px;
    top: 100px;
  }

  @media (max-width: 769px) {
    right: 270px;
    top: 72px;

  }

}

.pos4 {
  bottom: 175px;
  left: 365px;

  @media (max-width: 1200px) {
    top: 70px;
    left: 385px;
  }

  @media (max-width: 769px) {
    top: 38px;
    left: 354px;
  }
}

.pos5 {
  bottom: 100px;
  right: 45px;

  @media (max-width: 1200px) {
    bottom: 60px;
    right: 35px;
  }

  @media (max-width: 769px) {
    bottom: 45px;
    right: 20px;

  }
}

.pos6 {
  top: 100px;
  right: 185px;

  @media (max-width: 1200px) {
    top: 65px;
    right: 130px;
  }

  @media (max-width: 769px) {
    top: 40px;
    right: 173px;
  }

}

.components {
  padding-top: 150px;
}

.components-bike {
  padding-top: 50px;
  padding-bottom: 150px;
}

.components-button__item,
.components-button__item:hover,
.components-button__item:active,
.components-button__item:focus {
  background-color: $colorGrayHeading;
  border: 0;

  @media (max-width: 769px) {
    width: 100%;
  }
}

.card-components {
  text-align: center;
}

.components-image {
  width: 100%;
}

.components-text {
  text-align: center;
}

.components-name {
  font-family: $fontOldR;
  text-align: center;
}

.components-price {
  font-family: $fontUbunutuR;
  text-align: center;
}

.components-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.footer-wrapper {
  background-image: url("../img/bg-footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  height: 100vh;
  margin-top: 50px;

  @media (max-width: 568px) {
    background-size: 200% 100%;
  }
}

.footer-card {
  background-color: $colorWhite;
  color: $colorWhite;
  margin-top: 150px;
}

.footer-button {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 100px;

  @media (max-width: 768px) {
    padding-right: 2%;
    padding-left: 2%;
  }
}


.footer-heading {
  padding-top: 60px;

  @media (max-width: 568px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer-description {
  @media (max-width: 568px) {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.footer-button {
    @media (max-width: 568px) {
      padding-bottom: 50px;
    }
}
.footer-button__input {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: $colorGrey;

  &:hover,
  &:focus,
  &:active {
    background-color: $colorGrey;
  }
}

.footer-button__item {
  @include button;
}

.footer-line {
  width: 100%;
  height: 2px;
  background-color: $colorGrey;
  opacity: .5;
  margin-top: 125px;

}

.footer-text,
.by {
  padding-top: 25px;
  color: $colorGrey;
  @media (max-width: 568px) {
    font-size: 12px;
}
}

.button-transform {
  transition: .3s;

  &:hover {
    transform: scale(1.2);
  }
}