* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

@font-face {
  font-family: "Milkshake";
  src: url(../fonts/Milkshake/Milkshake400.ttf);
}

@font-face {
  font-family: "OldStandartTT Regular";
  src: url(../fonts/OldStandartTT/OldStandardTT-Regular.ttf);
}

@font-face {
  font-family: "OldStandartTT Italic";
  src: url(../fonts/OldStandartTT/OldStandardTT-Italic.ttf);
}

@font-face {
  font-family: "OldStandartTT Bold";
  src: url(../fonts/OldStandartTT/OldStandardTT-Bold.ttf);
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu Light";
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
  font-family: "Ubuntu Italic";
  src: url(../fonts/Ubuntu/Ubuntu-Italic.ttf);
}

@font-face {
  font-family: "MyriadPro";
  src: url(../fonts/MyriadPro/MyriadPro-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'OldStandardTT Regular';
  font-weight: normal;
}


a,
a:hover,
a:focus,
a:active {
  color: #ffffff;
  text-decoration: none;
}

$fontUbunutuR: "Ubuntu Regular";
$fontUbunutuI: "Ubuntu Italic";
$fontUbunutuL: "Ubuntu Light";
$fontMilk: "Milkshake";
$fontOldR: "OldStandardTT Regular";
$fontOldB: "OldStandardTT Bold";
$fontMyriadR: "MyriadPro";

$colorWhite: #ffffff;
$colorGrey: #c2c1c1;
$colorGrayHeading: #3C3C3C;
$colorGrayDescrip: #6A6A6A;

.main {
  background-image: url(../img/bg-main.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 180px;
  padding-left: 180px;
  padding-top: 25px;
  color: $colorWhite;
}

.logo {
  font-family: $fontMilk;
  font-size: 47px;
  line-height: 0.5;
}

.header-links-center__link,
.header-links-right__link {
  font-size: 18px;
  font-family: $fontUbunutuR;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 1;
}

.header-links-center__link {
  padding-right: 50px;

  &:last-child {
    padding-right: 0;
  }
}

.header-links-right {
  display: flex;
  align-items: center;
}

.header-links-right__link {
  padding-right: 10px;

  &:last-child {
    padding-right: 0;
  }
}

.shop-number {
  color: #c2c1c1;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 188px;
}

.main-heading {
  font-size: 61px;
  font-family: $fontOldR;
  line-height: 1;
  color: $colorWhite;
  padding-right: 168px;
  padding-left: 168px;
  text-align: center;
  padding-bottom: 15px;
}

.main-sub-heading {
  color: $colorGrey;
  font-size: 28px;
  font-family: $fontUbunutuR;
  line-height: 1;
  text-align: center;
  padding-bottom: 30px;
}

.about-wrapper {
  display: flex;
  padding-top: 50px;
}

.left-about {
  padding-left: 150px;
  padding-right: 90px;
  padding-top: 100px;
}

.about-heading {
  font-size: 48px;
  font-family: $fontOldR;
  color: $colorGrayHeading;
  line-height: 1;
  text-align: left;
  padding-bottom: 52px;
}

.about-description {
  font-size: 18px;
  font-family: $fontUbunutuL;
  color: $colorGrayDescrip;
  line-height: 1.556;
  text-align: left;
  padding-bottom: 88px;
}

.about-button {
  width: 165px;
  text-transform: uppercase;
  background-color: $colorGrayHeading;
  color: $colorWhite;
  padding-top: 1rem;
  padding-bottom: 1rem;
  outline: .5px solid $colorWhite;
  outline-offset: -5px;
}

.sub-about {
  display: flex;
}

.sub-about-description {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.gray-lines_item {
  display: flex;
  align-items: center;
  transform: translateX(-20px);
}

.gray-line {
  background-color: $colorGrey;
  opacity: .5;
}

.gray-line-description__first {
  height: 2px;
  width: 143px;
}

.gray-line-description__second {
  width: 2px;
  height: 130px;
}

.sub-about-description__text {
  color: $colorGrayDescrip;
  font-size: 18px;
  font-family: $fontMyriadR;
  line-height: 1.556;
  text-align: left;
  padding-right: 75px;
}

.feature {
  padding-top: 100px;
}

.feature-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-image {
  width: 60%;
  position: relative;
}

.main-image__item {
  width: 100%;
}

.feature-wrapper-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child {
    width: 20%;
    align-items: flex-start;
  }

  &:last-child {
    width: 20%;
    align-items: flex-end;
  }
}

.heading-feature {
  font-size: 34.5px;
  font-family: $fontOldR;
  color: $colorGrayHeading;
  line-height: 1;
  text-align: center;
  padding-bottom: 50px;
}

.sub-heading-feature {
  font-size: 18px;
  font-family: $fontUbunutuR;
  color: $colorGrayDescrip;
  line-height: 1.5;
  text-align: center;
  padding-right: 180px;
  padding-left: 180px;
  padding-bottom: 50px;
}

.size-buttons {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: $colorGrayHeading;
}

.size-zoom {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 145px;
  justify-content: center;
  border-bottom: 2px solid $colorGrey;
  border-top: 2px solid $colorGrey;
  border-right: 2px solid $colorGrey;
}

.size-buttons__item {
  margin-bottom: 15px;
  margin-left: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature-item__main {
  width: 100%;
}

.other-image__item {
  padding-bottom: 10px;
  width: 60%;
  -webkit-box-shadow: -2px 2px 50px 1px rgba(106, 106, 106, 0.7);
  -moz-box-shadow: -2px 2px 50px 1px rgba(106, 106, 106, 0.7);
  box-shadow: -2px 2px 50px 1px rgba(106, 106, 106, 0.7);

  &:last-child {
    padding-bottom: 0;
  }
}

.size-buttons__item:hover .active-path {
  fill: #ffffff;
}

.feature-wrapper-item__bike-zoom {
  position: absolute;
}

.zoom-image-button {
  position: absolute;
}

.pos1 {
  top: 364px;
  left: 166px;
}

.pos2 {
  top: 150px;
  left: 350px;
}

.pos3 {
  right: 300px;
  top: 110px;
}

.pos4 {
  bottom: 175px;
  left: 365px;
}

.pos5 {
  bottom: 100px;
  right: 45px;
}

.pos6 {
  top: 100px;
  right: 185px;
}

.components {
  padding-top: 150px;
}

.components-bike {
  padding-top: 50px;
  padding-bottom: 150px;
}

.components-button__item,
.components-button__item:hover,
.components-button__item:active,
.components-button__item:focus {
  background-color: $colorGrayHeading;
  border: 0;
}

.components-image {
  width: 100%;
}

.components-text {
  text-align: center;
}

.components-name {
  font-family: $fontOldR;
}

.components-price {
  font-family: $fontUbunutuR;
}

.components-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.footer-wrapper {
  background-image: url("../img/bg-footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
  height: 100vh;
}

.footer-card {
  background-color: $colorWhite;
  color: $colorWhite;
  margin-top: 150px;
}

.footer-button {
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 100px;
}